
style
{ 
margin: 0;  
 padding: 0;  
} 
index1.html {
  background-image: url("https://media3.giphy.com/media/cmegx6SssTKmEFEcwj/giphy.gif?cid=790b76111df7861b6d97ced851cc0b6aec5ff81a2d3ffa83&rid=giphy.gif&ct=g");
}
body {  
  background-image: url("https://media3.giphy.com/media/cmegx6SssTKmEFEcwj/giphy.gif?cid=790b76111df7861b6d97ced851cc0b6aec5ff81a2d3ffa83&rid=giphy.gif&ct=g");
  /* background-color: #181135;    */
    display: flex; 
    font-family: 'Arial' sans-serif;   
    justify-content: center; 
     align-items: center;  
    flex-direction: column;  
    background-size: cover; 
    }
::after, ::before {
  box-sizing: border-box;
}
.board {
justify-content: center;
align-content: center;
display: grid;
grid-gap: 20px;
grid-template-columns: 120px 120px 120px;
grid-template-rows: 120px 120px 120px;
}

.cell {
background-color: rgb(116, 236, 245);
  padding: 10px;
  border-radius: 5px;
  display: grid;
  border: 2px solid white;
  place-items: center;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.result{
  color: white;
}
  button {
   display: center;
   align-items: center;
   justify-items: center;
    margin: 0;
    width: 150px;
    height: 40px;
  }
p{
  color: rgb(0, 255, 0);
  font-size: 25px;
  text-align: center;
}
.playerturn{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.gameresult{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
}

.score {
  color: bisque;
}
.player1 {
color: orange;
}
.player2 {
  color: orangered;

}
.x-wins {
  width: 50px;
  height: 50px;
  background-color: orange;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  align-items: flex-end;
}

.o-wins {
  font-size: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: orangered;
  display: inline-block;
  position: fixed; 
}

.restart {
  font-size: 20px;
}

.start-game {
  font-size: 30px;
}