style
{ 
margin: 0;  
 padding: 0;  
box-sizing: border-box;  } 

body {          
    background-color: #181135;   
    display: flex; 
    font-family: 'Arial' sans-serif;   
    justify-content: center; 
     align-items: center;  
    flex-direction: column;  
    background-size: cover; 
    }
::after, ::before {
  box-sizing: border-box;
}
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.cell {
width: 11vw;
height: 11px;
background-color: orange;
border: 1px solid white;
}

  button {
   display: center;
   align-items: center;
   justify-items: center;
    margin: 0;
  }
 
